@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&display=swap');

* {/* configuracion inicial para que se aplique en general */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', 'sans-serif';
    text-decoration: none;
}
.encabezado {
width: 100%;
height: 60px;
margin-top: 40px;
display: flex;
flex-direction: row;
margin-left: 56px;
}
.imagen_cabeza {
top: 17.5px;
width: 25px;
height: 25px;
}
.imagen_sportif {
margin-left: 10px;
width: 73.68px;
height: 25px;
top: 17.5px;
}
.menu_icon {
width: 60px;
height: 40px;
position: relative;
left: 150px;
bottom: 11px;
}
.card {
width: 100%;
height: 600px;
}
.card img {
width: 300px;
height: auto;
margin-left: 25px;
}
.primer_text p{
text-align: right;
color: #232C50;
font-weight: 700px;
font-size: 40px;
margin-right: 20px;
}
.second_text p {
text-align: right;
position: relative;
font-weight: 500px;
font-size: 15px;
left: 10px;
margin-right: 30px;
margin-top: 10px;
margin-left: 10px;
line-height: 26.01px;
}
.contact_boton {
top: 10px;
position: relative;
left: 250px;
width: 134px;
height: auto;
}
.contact_boton button {
padding: 10px;
padding-left: 30px;
padding-right: 30px;
background-color: #8B48BF;
font-weight: 500px;
font-size: 13.18px;
color: white;
border-radius: 50px;
border: none;
}
.card2 {
width: 100%;
height: 180px;
background-color: #3CDDF3;
position: relative;
top: 60px;
}
.third_text {
color: #FFFFFF;
font-size: 36px;
padding-top: 20px;
padding-left: 10px;
}
.fourth_text {
color: #FFFFFF;
font-size: 16px;
padding-top: 20px;
padding-left: 10px;
line-height: 24.18px;
}
.card3 {
width: 350px;
height: 682px;
background-color: #FFFFFF;
position: relative;
top: 110px;
margin-left: 30px;
}
.subt1 {
display: grid;
grid-template-columns: auto auto;


}
.uno {
display: inline-block;
width: 69px;
height: 43px;
background-color: #8B48BF;
border-radius: 30px;
margin-right: 10px;
}
.uno p {
color: #FFFFFF;
font-size: 16px;
font-weight: 700px;
text-align: center;
padding: 10px;
}
.fith_text {
position: absolute;
background-color: #8B48BF4D;
width: 88%;
height: 43px;
display: inline-block;
font-size: 15px;
color: #323851;
padding: 40px;
padding-bottom: 10px;
padding-top: 10px;
padding-right: 50px;
margin-left: 40px;
white-space: nowrap;
}
.sixt_text {
font-weight: 500px;
font-size: 15px;
line-height: 25.52px;
grid-column: span 2;
margin-top: 20px;
margin-bottom: 20px;
text-align: left;
padding-left: 10px;
color: #B3B2B7;
}
.card4 {
width: 350px;
height: 478px;
position: relative;
margin-top: 60px;
margin-left: 20px;
align-items: center;
text-align: center;
font-size: 19.21px;
}
.big_titte {
position: relative;
top: 50px;
}
.imagen_tenista {
width: 77.81px;
height: 71.39;
position: relative;
top: 110px;
z-index: 1;
}
.subt2 {
position: relative;
align-items: center;
font-size: 16.07;
top: 130px;
color: #3F4868;
z-index: 1;
}
.seven_text {
background-color: #FAFAFA;
width: 350px;
height: 219px;
align-items: center;
position: relative;
margin-top: 35px;
}

.seven_text p {
font-size: 15px;
line-height: 25.06px;
text-align: center;
padding-top: 120px;
color: #B9B9C1;
}

.contact_boton2 {
position: relative;
top: 80px;
align-items: center;
}

.contact_boton2 button {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #8B48BF;
    font-weight: 500px;
    font-size: 13.18px;
    color: white;
    border-radius: 50px;
    border: none;
    }
    .card5 {
        width: 100%;
        height: 366px;
        background-color: #3CDDF3;
        position: relative;
        top: 60px;

        }
    .eight_text {
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    }

.contact_boton3 {
    position: relative;
    top: 40px;
    text-align: center;
}
.contact_boton3 button {
background-color: #232C50;
color: #FFFFFF;
width: 134px;
height: 44px;
border-radius: 50px;
font-weight: 500px;
border: none;
}

.pie {
width: 100%;
height: 534.71px;
background-color: #1E1E26;
;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.search-form {
display: flex;
position: relative;
left: 410px;
bottom: 50px;
}

footer .pie input[type="text"] {
width: 230px;
height: 44px;
position: relative;
left: 20px;
bottom: 150px;
border-radius: 50px;
padding: 10px;
border: none;
outline: none;
font-size: 16px;
}

button[type="submit"] {
width: 63px;
height: 42px;
background-color: #8B48BF;
color: white;
border: none;
border-radius: 50px;
padding: 10px 10px;
margin-left: 10px;
position: relative;
left: 15px;
bottom: 150px;
cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #1E8CAC;    
}

.footer-nav {
position: relative;
bottom: 40px;

}
ul {
    list-style-type: none; 
    color: #FFFFFF;
}

.left_column {
position: relative;
top: 30px;
left: 160px;
}

.left_column li {
line-height: 32px;   
}
.left_column li a {
color: #FFFFFF;
font-size: 16px;
list-style-type: none;
text-decoration: none;
font-weight: 400px;
}

.right_column {
position: relative;
bottom: 95px;
left: 330px;
}

.right_column li {
line-height: 23.8px;  
line-height: 32px; 
}

.bottom_icons {
position: relative;
display: flex;
justify-content: space-between;
margin-bottom: 20px;
align-items: center;
top: 60px;
left: 10px;
z-index: 1;
}

.bottom_icons i {
margin-right: 60px;
color: #FFFFFF;
}

.pie_abajo {
position: relative;
display: flex;
top: 90px;
right: 260px;
}

.nine_text {
position: relative;
display: flex;
color: #8C8C94;
right: 430px;
top: 120px;
white-space: nowrap;
font-size: 12.5px;
}

@media screen and (min-width: 767px) {

    .menu_icon {
display: none;
}
.header-nav {
display: flex;
flex-direction: row;
position: relative;
left: 260px;
top: 5px;
}

.header-nav li {
display: inline-block;
padding: 15px;
}

.header-nav li a {
color:#242E52;
font-size: 13px;
position: relative;
}

.imagen_cabeza {
position: relative;
top: 20px;
width: 25px;
height: 25px;
left: 110px;
}
.encabezado {
width: 100%;
height: 100px;
margin-top: 10px;
display: flex;
flex-direction: row;
margin-left: 56px;
}
.imagen_sportif {
width: 73.68px;
height: 25px;
top: 17.5px;
position: relative;
left: 120px;
}

.contact_boton {
top: 10px;
position: relative;
left: 450px;
width: 134px;
height: auto;
}

.card {
width: 1090px;
height: 562px;
display: flex;
top: 80px;
position: relative;
}

.pro_tennis img.tenista {
width: 540px;
height: 461.07px;
position: relative;
bottom: 30px;
left: 150px;
}

.card_content {
width: 450px;
height: 399px;
position: relative;
left: 240px;
}

.contact_boton2 {
position: relative;
left: 325px;
top: 50px;
}

.card2 {
background-color: #8B48BF;
display: flex;
margin-bottom: 0;
position: relative;
}

.third_text {
position: relative;
left: 100px;
padding: 30px;
}

.hide_text_mobile {
color: #FFFFFF;
font-size: 16px;
padding-top: 20px;
padding-left: 10px;
}

.third_text {
display: none;
}

.fourth_text {
display: none;
}

.desk_version1 {
color: #FFFFFF;
font-size: 36px;
padding-top: 20px;
padding-left: 10px;
position: relative;
left: 220px;
top: 25px;
} 

.hide_text_mobile {
position: relative;
left: 300px;
top: 20px;
line-height: 24.18px;
}

.uno_a,
.uno_b,
.uno_c {
    width: 69px;
    height: 43px;
    background-color: #8B48BF;
    border-radius: 30px;
    margin-bottom: 10px;
}

.uno_a {
position: relative;
right: 150px;
top: 50px;
}

.uno_b {
position: relative;
left: 450px;
bottom: 95px;
}

.uno_c {
    position: relative;
    left: 140px;
    bottom: 40px;
    }

.uno_a p {
color: #FFFFFF;
font-size: 16px;
font-weight: 700px;
text-align: center;
padding: 10px;
}

.fith_text {
position: relative;
left: 240px;
background-color: #FFFFFF;
}

.fith_text p {
background-color: #FFFFFF;
}

.sixt_text,
.sixt_text_a,
.sixt_text_b {
font-weight: 500;
font-size: 15px;
line-height: 25.52px;
margin: 10px 0;
text-align: left;
padding-left: 10px;
color: #B3B2B7;
white-space: nowrap;
}

.sixt_text_a {
position: relative;
bottom: 40px;
right: 350px;
}

.sixt_text {
position: relative;
top: 100px;
left: 260px;
}

.sixt_text_b {
position: relative;
top: 10px;
right: 85px;
}

.card3 {
width: 100%;
height: 488px;
background-color: #FAFAFA;
display: flex;
flex-direction:column;
align-items: center;
position: relative;
margin-top: 0;
right: 30px;
top: 60px;
}

.subt1 {
display: flex;
flex-direction: row;

margin-bottom: 20px;
}

.fith_text_a,
.fith_text_b,
.fith_text_c {
width: auto;
white-space: nowrap;
font-size: 15px;
color: #323851;
text-align: center;
margin: 10px 0;
}

.fith_text_a {
position: relative;
top: 50px;
right: 130px;
}

.fith_text_b {
    position: relative;
    bottom: 93px;
    left: 480px;
    }

.fith_text_c {
position: relative;
bottom: 40px;
left: 170px;
}

.uno_b p {
color: #FFFFFF;
font-size: 16px;
font-weight: 700px;
text-align: center;
padding: 10px;
}



.uno_c p {
color: #FFFFFF;
font-size: 16px;
font-weight: 700px;
text-align: center;
padding: 10px;
}





}

@media screen and (max-width: 767px) {
.hide_text_mobile {
display: none;
}

.desk_version1 {
display: none;
}
}